<MudContainer MaxWidth="MaxWidth.Large" >
    <MudStack AlignItems="AlignItems.Center">

            <MudText Typo="Typo.h2"
                     Align="Align.Center"
                     Class="gradient-text-title mb-6"
                     data-aos="zoom-in-up"
                     data-aos-duration="600">
                Skills & Technologies
            </MudText>

        <MudText Typo="Typo.body1"
                 Align="Align.Center"
                 Class="skills-description"
                 data-aos="zoom-in-up"
                 data-aos-duration="1500">
            Technologies and tools I use for web development,
            backend systems, databases, cloud services, and embedded development.

        </MudText>
    

            <MudGrid>
                <!--BACKEND-->
                 <MudItem xs="12" sm="12" md="6">
                    <MudPaper Class="skill-card pa-6">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">

                            <MudAvatar Size="Size.Large"
                                       Class="skill-icon">
                                <MudIcon Icon="@Icons.Material.Filled.Code"
                                         Size="Size.Large" />
                            </MudAvatar>

                            <div>
                                <MudText Typo="Typo.h4">
                                    Backend Engineering
                                </MudText>

                                <MudText Typo="Typo.body1"
                                         Class="skill-description">
                                Building APIs and services
                                </MudText>
                            </div>

                        </MudStack>

                        <MudDivider Class="my-4" />

                        <MudGrid>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg"
                                         width="32"
                                         height="32"
                                         alt="C#" />

                                    <span class="ms-2">C#</span>
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                               <MudChip T="string" Class="tech-chip">
                                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-original.svg"
                                         width="32"
                                         height="32"
                                         alt=".NET" />

                                    <span class="ms-2">ASP.NET Core</span>
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    Entity Framework Core
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    REST API
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    SignalR
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    JWT
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    LINQ
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    AutoMapper
                                </MudChip>
                            </MudItem>

                            <MudItem xs="12" sm="6" md="4">
                                <MudChip T=string Class="tech-chip">
                                    Swagger
                                </MudChip>
                            </MudItem>

                        </MudGrid>

                    </MudPaper>
                 </MudItem>

            <MudItem xs="12" sm="12" md="6">
                <!--FRONTEND-->
                <MudPaper Class="skill-card pa-6">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">

                        <MudAvatar Size="Size.Large"
                                   Class="skill-icon">
                            <MudIcon Icon="@Icons.Material.Filled.Code"
                                     Size="Size.Large" />
                        </MudAvatar>

                        <div>
                            <MudText Typo="Typo.h4">
                                Frontend Engineering
                            </MudText>

                            <MudText Typo="Typo.body2"
                                     Class="skill-description">
                                Building robust APIs, authentication systems,
                                and scalable server-side applications.
                            </MudText>
                        </div>

                    </MudStack>

                    <MudDivider Class="my-4" />

                    <MudGrid>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg"
                                     width="20"
                                     height="20"
                                     alt="C#" />

                                <span class="ms-2">C#</span>
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                ASP.NET Core
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                Entity Framework Core
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                REST API
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                SignalR
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                JWT
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                LINQ
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                AutoMapper
                            </MudChip>
                        </MudItem>

                        <MudItem xs="12" sm="6" md="4">
                            <MudChip T=string Class="tech-chip">
                                Swagger
                            </MudChip>
                        </MudItem>

                    </MudGrid>

                </MudPaper>
            </MudItem>
           
            </MudGrid>
               
    </MudStack>
  

   @*  <MudGrid>

        <MudItem xs="12" md="6">

            <MudPaper Class="pa-6">

                <MudText Typo="Typo.h5" GutterBottom="true">
                    Backend Development
                </MudText>

                <MudChipSet T="string">
                    <MudChip Class="code-font" Color="Color.Primary">C#</MudChip>
                    <MudChip Class="code-font" Color="Color.Primary">ASP.NET Core</MudChip>
                    <MudChip Class="code-font" Color="Color.Primary">Entity Framework Core</MudChip>
                    <MudChip Class="code-font" Color="Color.Primary">REST API</MudChip>
                    <MudChip Class="code-font"  Color="Color.Primary">LINQ</MudChip>
                </MudChipSet>

            </MudPaper>

        </MudItem>

        <MudItem xs="12" md="6">

            <MudPaper Class="pa-6">

                <MudText Typo="Typo.h5" GutterBottom="true">
                    Frontend Development
                </MudText>

                <MudChipSet T="string">
                    <MudChip Class="code-font" Color="Color.Secondary">Blazor</MudChip>
                    <MudChip Class="code-font" Color="Color.Secondary">HTML</MudChip>
                    <MudChip Class="code-font" Color="Color.Secondary">CSS</MudChip>
                    <MudChip Class="code-font" Color="Color.Secondary">JavaScript</MudChip>
                    <MudChip Class="code-font" Color="Color.Secondary">MudBlazor</MudChip>
                </MudChipSet>

            </MudPaper>

        </MudItem>

        <MudItem xs="12" md="6">

            <MudPaper Class="pa-6">

                <MudText Typo="Typo.h5" GutterBottom="true">
                    Database
                </MudText>

                <MudChipSet T="string">
                    <MudChip Class="code-font">SQL Server</MudChip>
                    <MudChip Class="code-font">MySQL</MudChip>
                    <MudChip Class="code-font">SQLite</MudChip>
                </MudChipSet>

            </MudPaper>

        </MudItem>

        <MudItem xs="12" md="6">

            <MudPaper Class="pa-6">

                <MudText Typo="Typo.h5" GutterBottom="true">
                    Embedded & IoT
                </MudText>

                <MudChipSet T="string">
                    <MudChip Class="code-font" Color="Color.Success">ESP32</MudChip>
                    <MudChip Class="code-font" Color="Color.Success">Arduino</MudChip>
                    <MudChip Class="code-font" Color="Color.Success">Sensors</MudChip>
                    <MudChip Class="code-font" Color="Color.Success">Serial Communication</MudChip>
                </MudChipSet>

            </MudPaper>

        </MudItem>

    </MudGrid>

    <MudDivider Class="my-8" />

    <!--Professional Experience Meter-->
    <MudText Typo="Typo.h4" GutterBottom="true">
        Core Technologies
    </MudText>

    <MudText>C#</MudText>
    <MudProgressLinear Value="90" Color="Color.Primary" Class="mb-4" />

    <MudText>ASP.NET Core</MudText>
    <MudProgressLinear Value="85" Color="Color.Primary" Class="mb-4" />

    <MudText>Blazor</MudText>
    <MudProgressLinear Value="85" Color="Color.Primary" Class="mb-4" />

    <MudText>SQL Server</MudText>
    <MudProgressLinear Value="80" Color="Color.Primary" Class="mb-4" />

    <MudText>ESP32</MudText>
    <MudProgressLinear Value="75" Color="Color.Primary" Class="mb-4" />


    <MudDivider Class="my-8" />

    <!--Certifications Section-->
    <MudText Typo="Typo.h4" GutterBottom="true">
        Currently Learning
    </MudText>

    <MudChipSet T="string">
        <MudChip Color="Color.Info">
            Advanced Blazor
        </MudChip>

        <MudChip Color="Color.Info">
            AWS
        </MudChip>

        <MudChip Color="Color.Info">
            Microservices
        </MudChip>

        <MudChip Color="Color.Info">
            IoT Systems
        </MudChip>
    </MudChipSet> *@
</MudContainer>

<style>
    .gradient-text-title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        color: transparent !important;
        background: linear-gradient( to right, #6366f1, #a855f7 );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent !important;
        background-clip: text;
        display: inline-block;
    }

    /**/
    .skills-description {
        max-width: 900px;
        margin: 0 auto;
        font-size: 1.15rem;
        line-height: 2rem;
        color: rgba(255,255,255,.75);
        text-align: center;
    }
    /**/


    .skill-card {
        background: rgba(17, 24, 39, 0.55);
        backdrop-filter: blur(16px);
        border: 1px solid rgba(255,255,255,.08);
        border-radius: 24px;
        transition: all .3s ease;
    }

        .skill-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 40px rgba(99,102,241,.20);
        }

    .skill-icon {
        background: linear-gradient( 135deg, #6366f1, #8b5cf6 );
        color: white;
    }

    .skill-description {
        color: rgba(255,255,255,.65);
    }

    .tech-chip {
        width: 100%;
        justify-content: center;
        background: rgba(255,255,255,.05) !important;
        border: 1px solid rgba(255,255,255,.08);
        color: white !important;
        min-height: 42px;
        transition: all .3s ease;
    }

        .tech-chip:hover {
            background: rgba(99,102,241,.15) !important;
            border-color: #6366f1;
            transform: translateY(-2px);
        }
</style>